[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dependentsimr"]
	path = dependentsimr
	url = https://github.com/tgbrooks/dependentsimr
